#image-container {
	margin: 0 auto;
	max-width: 960px;
	padding: 50px;
	/*border: 1px solid black;*/
	border-radius: 25px;
	text-align: center;	
}

#editable-image {
	/*border: 1px solid black;*/
}

#edit-button {
	margin: 15px auto;	
}

/* 
 * Below CSS partially taken from: http://jsfiddle.net/gabrieleromanato/mxq9R/.
 * Some changes have been made.
 */
div.upload {
	margin: 0 auto 25px auto;
    width: 180px;
    height: 44px;
	border-radius: 10px;
    /*background: url(../images/upload_button.png);*/
	background-color: #22A7F0;
    overflow: hidden;
	cursor: pointer;
	color: white;
	padding-top: 20px;
}

div.upload input {
	margin: 0 auto 25px auto !important;
    display: block !important;
    width: 180px !important;
    height: 44px !important;
	border-radius: 10px !important;
    opacity: 0 !important;
    overflow: hidden !important;
	cursor: pointer !important;
}
/* ------------------------------------------------------------------------ */

.button-class {
	margin: 0 auto;
	padding: 10px 15px;
	width: 150px;
	display: block;
	border-radius: 10px;
	text-align: center;
	text-decoration: none;
}

.button-class:link { color: white; }
.button-class:visited { color: white; }
.button-class:hover { color: white; }

#edit-button { background-color: #22A7F0; }
#edit-button:hover { background-color: #6BB9F0 }

#download-button { background-color: #2ECC71; }
#download-button:hover { background-color: #87D37C; }

#go-back-button {
	margin-top: 100px;
	margin-bottom: 50px;	
	background-color: #BDC3C7;
}

#go-back-button:hover { background-color: #DADFE1 }