html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
	
	background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(bottom, #03C9A9, white, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, #03C9A9, white, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, #03C9A9, white, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(bottom, #03C9A9, white, white); /* Standard syntax (must be last) */
}

html, body {
    min-height: 100%
}

header {
	background-color: #03A678;	
	color: white;
	padding: 15px;
}

nav {
	font-family: "lft-etica", sans-serif;
	font-weight: 900;
	font-size: 16px;
}

h1 {
	margin: 0;	
}

.main-topic {
	text-align: center;	
	color: #03C9A9;
	font-family: "lft-etica",sans-serif;
	font-weight: 900;
}

.g-signin2 {
	position: absolute;
	top: 10px;
	right: 10px;
}

#signout-button {
	position: absolute;
	top: 50px;
	right: 10px;
}

#signout-button:link {
	text-decoration: none;
	color: white;
}

#signout-button:visited {
	color: white;
}

#signout-button:hover {
	color: white;
	text-decoration: underline;
}

footer {
	text-align: center;
	color: #4183D7;
}

.footer-text {
	font-size: 18px;	
}

#copyright {
	margin-top: 35px;	
}