body {
	padding: 0;
	margin: 0;
	background-color: #FFFFFF;
	font-family: helvetica;
}

ul {
	list-style-type: none;
}

#main-list {
	margin: 0 auto;
	padding: 50px;
	width: 800px;
}

.sub-list {
	padding: 10px;
	margin-top: 15px;
	background-color: #E4F1FE;
	font-size: 14px;
	border-radius: 10px;
	display: none;
	color: #34495E;
}

.sub-list a:link {
	color: #F27935 !important;
	text-decoration: none;	
}

.sub-list a:hover {
	text-decoration: underline;	
}

.sub-list a:visited {
	color: #F27935 !important;
	text-decoration: none;	
}

.movie-hit {
	padding: 20px;
	background-color: #6BB9F0;
	font-size: 18px;
	margin-bottom: 10px;
	border-radius: 15px;
	color: #34495E;
}

.movie-hit a:link {
	color: #E4F1FE;
	text-decoration: none;	
}

.movie-hit a:hover {
	text-decoration: underline;	
}

.movie-hit a:visited  {
	color: #E4F1FE;
	text-decoration: none;	
}

.booking-hit,
.not-available {
	padding: 5px;	
}

.not-available {
	color: #F22613;	
}

#topic {
	text-align: center;	
	color: #4183D7;
}

#main-content {
	margin: 0 auto;
	padding-top: 50px;
	width: 900px;
}

form {
	text-align: center;	
}

form input[type=text] {
	width: 250px;
	height: 42px;
	border-radius: 5px;
	border: 1px solid #6BB9F0;
	color: #6BB9F0;
	font-size: 16px;
	padding-left: 10px;
}

form input[type=submit] {
	padding: 15px 25px;
	background-color: #22A7F0;
	color: #FFFFFF;
	border: none;
	border-radius: 8px;
	font-size: 14px;
}

form input[type=submit]:hover {
	cursor: pointer;
	background-color: #4183D7;
}